.section__padding {
  padding: 4rem 6rem;
}

.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  min-height: 100vh;

  @media screen and (max-width: 1150px) {
    flex-direction: column;
  }
}

.app__wrapper_info {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.app__wrapper_img {
  flex: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 2rem;

  @media screen and (max-width: 1150px) {
    margin: 5rem 0 0 0;
  }
}

.app__wrapper_img-reverse {
  justify-content: flex-start;
  margin-right: 2rem;

  @media screen and (max-width: 1150px) {
    margin: 0 0 5rem 0;
  }
}
